
// $sh_globalnav_bg_color:rgba(0, 0, 0, 0.92);

body {
    margin: 0;
    // font-family: Arial, Helvetica, sans-serif;
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
  }
.sh_container{
    width: 100%;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 16% auto 16%;
    grid-auto-rows: 100%;
    background-color: white;
}
.col{
    border: 1px solid black;
}
#sh_globalnav_box {
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    z-index: 1;
}
#sh_globalnav {
    position: fixed;    
    width: 100vw;    
    background-color: yellow;
    // border: 1px dotted red;
    text-align: center;
    padding: 10px 0px;
    transition: .3s;
}
#sh_global_ads_box{
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    z-index: 2;
}
#sh_global_ads{
    background-color: lightness($color: #fff000);
    transition: .3s;
}
